.big-box {
    background-color:green;
    display: flex;
    height: 500px;
    width: 500px;
}

.box {
    background-color: chocolate;
    flex: 1;
}

.box4 {
    background-color: cornflowerblue;
    flex: 2;
}

.letter-box {
    background-color: hotpink;
}